

@media (max-width: 768px) { 
    .footer__inner{
      justify-content: space-around;
    }
    .footer__bottom-inner{
      
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .footer__bottom-inner div + div{
      margin-bottom: 20px;
    }
  }
  

  @media (max-width: 856px){
    .main__products{
      justify-content: space-around;
    }
    .additionally__product-price {
      margin-top: 26px;
      margin-bottom: 50px;
  }
    .info__inner{
      display: block;
      margin: 0 auto;
    }
    .info__text {
      width: 355px;
      margin: 0 auto 30px;
      text-align: center;
  }
  .info__text-item{
    text-align: center;
  }
  .info__btn{
    text-align: center;
    width: 251px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .main {
    margin-top: 100px;
    margin-bottom: 65px;
}
  .info__btn-link{
    width: 221px;
    margin: 0 auto;
  }

  .info__features{
    margin: 0 auto;
  }

  .info {
    margin-bottom: 50px;
}

@media (max-width: 576px) {
  .brands{
      display: none;
  }
  .face{
      height: 530px;
      background-size: 1100px ;
  }

  .testimonials {
  margin-bottom: 0px;
  }
  .salon__title{
      margin-bottom: 25px;
  }
  .salon{
      margin-bottom: 0;
  }
  .main__products div + div{
    margin-top: 50px;
    margin-bottom: 0;
}

.main__big-img{
  width: 360px;
  margin: 0 auto;
  text-align: center;
}

.gallery-thumbs > .swiper-wrapper > .swiper-slide {
  width: auto;
  height: auto;
}

.gallery-thumbs > .swiper-slide{
  width: 160px;
}

.gallery-thumbs{
  width: 100%;
}

.gallery-top{
  width: 100%;
}

.gallery-top{
  height: auto;
  text-align: center;
}
.main__product-img{
  max-width: 100%;
}

.main__img {
  width: 130px;
  height: auto;
}

  } 
  
  
    @media (max-width: 1200px) {
      .testimonials__nav{
          flex-wrap: wrap;
          max-width: 80%;
          margin: 0 auto 5px;
      }
      .testimonials{
          overflow: hidden;
      }
      .testimonials__nav li + li{
          margin-bottom: 70px;
      }
    .main__filters{
      max-width: 800px;
    }
  }
  
  
  @media (max-width: 1050px){
      .face{
          height: 960px;
      }
      .brand__box{
          margin-bottom: 25px;
      }
      .testimonials__inner{
          justify-content: space-around;
      }
      .testimonials__nav{
          flex-wrap: wrap;
          max-width: 100%;
      }
      .blog__inner{
          justify-content: space-around;
      }
      .blog__inner div + div{
          margin-top: 30px;
      }
      .gallery__inner{
        max-width: 833px;
        margin: 0 auto;
        text-align: center;
      }

      .main__filters div + div:nth-child(5){
        margin-left: 0px;
    }
  }

  @media (max-width: 1080px){
    .main__inner{
      flex-wrap: wrap;
    }
    .main__product-info{
      margin-left: 0;
    }
    .main__product-img{
      margin: 0 auto 40px;
    }
    .main__info-box{
      min-height: 0;
    }
  }
  
  @media (max-width: 992px) {
      body.lock {
        overflow: hidden;
      }
      .header__menu1,
      .header__menu2{
        display: none;
      }
      .header__body {
        height: 50px;
      }
      .burger__logo-img {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40px;
                flex: 0 0 40px;
                margin-left: 0;
                margin-bottom: 40px;
      }
      .header__logo{
        margin-left: 0;
      }
      .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        z-index: 100;
      }
      .header__burger span {
        background-color: #fff;
        position: absolute;
        width: 26px;
        height: 4px;
        left: 0;
        top: 9px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }
      .header__burger:before,
      .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }
      .header__burger:before {
        top: 0;
      }
      .header__burger:after {
        bottom: 0;
      }
      .header__burger.active:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 9px;
      }
      .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 9px;
      }
      .header__burger.active span {
        -webkit-transform: scale(0);
                transform: scale(0);
      }
      
      .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        /*для прокрутки меню, когда оно не помещается в экран*/
        overflow: auto;
        background-color: #333;
        padding: 15px 10px 20px 15px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        z-index: 99;
      }
      .popup, .register__popup{
        width: 80%;
      }
      .popup__input-item{
        width: 100%;
      }
      .popup__descr{
        display: block;
      }
      .register__link, .login__link{
        margin-left: 0;
      }
      .popup__input-item {
        padding: 12px 0 12px 7px;
    }
      .header__menu.active {
        top: 0;
      }
      .header__list {
        display: block;
        width: 100%;
        height: 100%;
      }
      .header__list li {
        margin: 0 0 30px 0;
      }
      .header__link {
        font-size: 21px;
      }
  
      .registration::after{
        content: '';
        display: block;
        margin-top: 35px;
        border: 1px solid #fff;
        width: 90%;
        height: 1px;
      }
  
      .burger__social::before{
        content: '';
        display: block;
        margin-bottom: 26px;
        border: 1px solid #fff;
        width: 90%;
        height: 1px;
      }
  
      .burger__social-items{
        display: flex;
        align-items: center;
      }
      .burger__social-items a + a{
        margin-left: 31px;
      }
    }
    
    .content {
      padding: 100px 0 0 0;
    }
  
    @media (max-width: 830px){
      .gallery__inner{
        width: 555px;
        margin: 0 auto;
      }

    }
  
  @media (max-width: 856px){

    .additionally {
      margin-bottom: 60px;
  }
    .additionally__inner{
      justify-content: space-around;
    }
    .main {
      margin-top: 30px;
      margin-bottom: 65px;
  }
  }

  @media (max-width: 756px){
      .testimonials {
          margin-bottom: 50px;
      }
      .subscribe__inner{
        display: block;
      }
      .subscribe__list{
        margin-bottom: 30px;
      }
      .subscribe__form{
        margin: 0 auto;
      }
      .main__filters {
        max-width: 400px;
        justify-content: space-between;
    }
    .main__filters div + div{
      margin-left: 0px;
  }
  }
  
  

  
  }
  
  @media (max-width: 555px){
    .gallery__inner{
      width: 350px;
    }
    .gallery__box{
      text-align: center;
      margin: 0 auto;
    }
    .gallery__img-big{
      width: 350px;
      margin: 0 auto;
      height: auto;
    }
    .play__btn-img{
      top: 78px;
    }
  }
  
  @media (max-width: 528px){
    .footer__list + .footer__list{
      margin-bottom: 0;
      margin-top: 80px;
    }
    .main__filters {
      max-width: 160px;
      justify-content: space-between;
      margin: 0;
      margin-bottom: 50px;
  }
  .main{
    margin-top: 40px;
  }
  .main__nav-item{
    flex-wrap: wrap;
    max-width: 100%;
  }
  .main__nav-link{
    margin-bottom: 10px;
  }

  }

  @media (max-width: 515px){
    .main__product-buy{
      display: block;
    }
    .main__btn-buy{
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 467px){
    .subscribe__form-box{
      display: block;
      height: auto;
      width: auto;
    }

    .subscribe__form-input{
      width: 100%;
    }
    .subscribe__form {
      width: 345px;
    }
    .subscribe__form-item{
      margin-bottom: 25px;
    }
    .subscribe__link-item{
      text-align: center;
    }
    .subscribe__form{
      height: 165px;
    }
    .main__features-inner{
      display: block;
    }
    
    .categories + .categories {
      margin-left: 0px;
      margin-top: 10px;
  }
  }

  
  @media (max-width: 396px){
    .info__text{
      width: 300px;
    }
  }
  

  @media (max-width: 378px){
    .main__big-img {
      width: 290px;
      margin: 0 auto;
      text-align: center;
  }
  .subscribe__form {
    width: 300px;
}
.main__info-title{
  text-align: center;
}
.main__add-link{
  padding: 7px;
}

  }
