@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 111px;
  background-color: #333;
}

.header__list,
.header__list1,
.header__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__link {
  font-size: 14px;
  line-height: 150%;
  color: #e7dbdb;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.header__link:hover {
  color: #f7f2f2;
}

.header__list2 li + li {
  margin-left: 40px;
}

.header__list1 li + li {
  margin-left: 40px;
}

.accont__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__img {
  margin-right: 13px;
}

.header__logo {
  margin-left: 70px;
}

.client__img {
  margin-right: 25px;
}

.subscribe {
  background-image: url(../img/salon.png);
  color: #fff;
  margin-bottom: 80px;
}

.subscribe__descr {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 140%;
}

.subscribe__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 63px;
}

.subscribe__inner {
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

.subscribe__list div + div {
  margin-top: 15px;
}

.subscribe__list-item {
  margin-top: 4px;
}

ul {
  list-style: none;
}

.list {
  display: none;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .list {
  display: block;
}

.list__title {
  position: relative;
  padding-left: 30px;
}

.list li {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 10;
}

.list__title::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  background-image: url(../img/list.png);
  background-repeat: no-repeat;
}

.list__title:active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.subscribe__form {
  width: 448px;
  height: 113px;
  border: 1px solid #FFFFFF;
  padding: 14px 15px;
}

.subscribe__form-box {
  width: 418px;
  height: 85px;
  background-color: #fff;
  padding: 20px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__form-input {
  width: 215px;
  height: 45px;
  padding: 17px 14px 20px 14px;
  border: 1px solid #D6D6D6;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.subscribe__form-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #333333;
  border: 1px solid #FFFFFF;
  padding: 14px 35px;
  border: 1px solid #333;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.subscribe__form-link:hover {
  background-color: #141313;
}

.footer {
  margin-bottom: 20px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.footer__list {
  width: 255px;
}

.footer__list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.footer__list-title::after {
  content: '';
  margin-bottom: 30px;
  display: block;
  margin-top: 10px;
  width: 255px;
  border: 1px solid #333333;
}

.footer__list-box li + li {
  margin-top: 15px;
}

.footer__link-item {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__list + .footer__list {
  margin-bottom: 80px;
}

.footer__link-info {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 21px;
  color: #333333;
}

.footer__link-pay {
  padding-top: 6px;
}

.footer__link-pay a + a {
  margin-left: 20px;
}

.footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-tel {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin-left: 15px;
}

.footer__contact-img {
  width: 20px;
  height: 20px;
}

.footer__link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

.footer__link-social a + a {
  margin-left: 20px;
}

.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom {
  padding-bottom: 20px;
}

.footer__bottom::before {
  content: '';
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #333;
}

.footer__bottom-info {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.created__in {
  font-weight: 700;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main {
  margin-top: 60px;
  margin-bottom: 120px;
}

.main__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 468px;
  margin: 0 auto 51px;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.main__nav-item > span {
  margin: 0 15px;
}

.main__nav-link {
  color: #333;
  text-decoration: underline;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__product-info {
  height: 100%;
  border: 1px solid #D6D6D6;
  padding: 10px;
  margin-left: 30px;
}

.main__info-box {
  padding: 40px 30px;
  border: 1px solid #D6D6D6;
  min-height: 570px;
}

.main__info-title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.main__features-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.main__info-features::after {
  content: '';
  display: block;
  margin-bottom: 30px;
  border: 1px solid #D6D6D6;
  width: 100%;
  height: 1px;
}

.main__info-text {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 30px;
}

.main__product-price {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.main__product-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__btn-buy {
  margin-right: 30px;
}

.main__buy-link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 20px;
  background: #333333;
  border: 1px solid #FFFFFF;
}

.main__add-link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  padding: 10px 20px;
  background: #F9F9F9;
  border: 1px solid #333333;
}

.main__img {
  width: 160px;
  height: 120px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 150%;
  color: #979797;
}

.category {
  margin-right: 15px;
}

.categories + .categories {
  margin-left: 30px;
}

.additionally {
  margin-bottom: 120px;
}

.additionally__descr {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}

.additionally__title {
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  color: #333333;
  text-align: center;
}

.additionally__product-item {
  text-align: center;
}

.additionally__product-descr {
  margin-bottom: 10px;
  padding-top: 25px;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.additionally__product-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}

.additionally__product-price {
  margin-top: 25px;
}

.additionally__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

.additionally__products-face::after {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 60px;
  border: 1px solid #D6D6D6;
  margin-top: 40px;
}

.additionally__products div + div {
  margin-bottom: 50px;
}

.additionally__link {
  margin-top: 105px;
  text-align: center;
}

.additionally__link-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background: #333333;
  border: 1px solid #FFFFFF;
  padding: 15px 35px;
}

.price {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #333333;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
}

.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 430px;
  width: 540px;
}

.gallery-thumbs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  width: 540px;
  margin: 30px auto 0;
}

.gallery-thumbs > .swiper-wrapper {
  width: 540px;
  height: 120px;
}

.gallery-thumbs .swiper-slide {
  opacity: 0.4;
  width: 160px;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery-thumbs > .swiper-wrapper > .swiper-slide {
  width: 160px;
  height: 120px;
}

.info {
  margin-bottom: 120px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__text {
  width: 540px;
  margin-right: 103px;
}

.info__text-item {
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  text-align: left;
}

.info__btn {
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.info__btn-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.info__btn::after {
  content: '';
  position: absolute;
  display: block;
  border: 1px dashed #333333;
  margin-top: 5px;
  width: 100%;
}

.info__text-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: #333333;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 297px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 290px;
}

.features__box {
  text-align: center;
  margin-bottom: 30px;
}

body.overlay,
.register__overlay {
  overflow: hidden;
}

.button {
  cursor: pointer;
}

.overlay,
.register__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background-color: #000;
}

.popup,
.register__popup {
  position: absolute;
  width: 500px;
  height: auto;
  left: 50%;
  z-index: 30;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup__title {
  text-align: center;
  color: #f9f9f9;
  font-weight: 500;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 auto 50px;
}

.submit__btn-link {
  color: #f9f9f9;
  background-color: inherit;
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  padding: 10px 35px;
  font-size: 18px;
  margin: 0 auto;
}

.popup__submit {
  text-align: center;
  margin-bottom: 30px;
}

.popup__descr {
  text-align: center;
  font-size: 16px;
  color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 150%;
}

.register__link,
.login__link {
  color: #37c237;
  cursor: pointer;
  margin-left: 30px;
}

.register__link:hover {
  text-decoration: underline;
}

.popup__input {
  margin-bottom: 30px;
}

.popup__input input + input {
  margin-top: 20px;
}

.popup__input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  font-size: 18px;
  height: 43px;
  padding: 20px 135px 18px 31px;
}

.popup__h2 {
  text-align: center;
  font-size: 28px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
  z-index: 31;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 20px;
  top: 11px;
  z-index: 31;
  left: -4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 20px;
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
}

.header__list {
  display: none;
}
